html {
    /* Full height  */
    height: 100%;
    /*Done here instead od body as body 
    doesn't cover the full page*/
}

body {
    background-color: rgba(122, 116, 116, 0);
    background-image: url(images/whitney.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

header {
    position: sticky;
    /* float: left;
    width: 100%;
    clear: both; */
    padding-bottom: 0;
}

nav {
    padding-top: 14px;
    /* background-color: rgba(20, 19, 19, 0.267); */
    width: 1024px;
    text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

header ul li {
    float: left;
}

header ul li a {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    /* padding-left: 8px; */
    /* padding-right: 20px; */
    display: block;
    text-align: center;
    padding: 19px;
    padding-left: 52px;
    padding-right: 52px;
}

header ul li a:hover {
    display: block;
    background-color: #615a5a;
}


/* .no-padding {
    padding-bottom: 10px;
} */

.experience {
    width: 1024px;
    background-color: whitesmoke;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

.title {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* for the jaggedy line */

.dark {
    background-color: rgb(197, 196, 196);
    height: 500px;
    padding-left: 100px;
    color: rgb(71, 70, 70);
}

.line {
    background-color: rgb(184, 183, 183);
    height: 2px;
}

.light {
    background-color: rgb(255, 255, 255);
    height: 500px;
    padding-left: 100px;
    color: rgb(71, 70, 70);
}

h1 {
    font-size: 60px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 0;
    padding-top: 30px;
}

p {
    width: 450px;
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight: lighter;
    font-family: "open-sans", Helvetica, Arial, sans-serif;
    padding: 0;
}

.orientation {
    background-position: right;
}

.style {
    margin: 0;
    padding-top: 40px;
}

#myBtn {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 40px;
    align-items: center;
}

.center {
    height: 75px;
    background-color: rgb(197, 196, 196);
    margin: 0;
    position: relative;
    bottom: 0;
    padding-left: 47%;
}

h2 {
    font-size: 40px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 0;
    /* padding-top: 15px; */
    padding-bottom: 0px;
    margin-bottom: 2px;
}

h3 {
    font-size: 30px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 1px;
}

.pad {
    padding-top: 30px;
}


/* 
.tooltip {
    text-decoration: none;
    position: relative;
}

.tooltip span {
    display: none;
}

.tooltip:hover span {
    display: relative;
    position: relative;
    overflow: hidden;
} */