html {
    /* Full height  */
    height: 100%;
    /*Done here instead od body as body 
    doesn't cover the full page*/
}

body {
    background-color: rgba(32, 32, 32, 0.7);
    background-image: url(images/whitney.jpg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.capsule {
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0; */
    /* width: 1024px; */
    height: 100%;
}

header {
    float: left;
    width: 100%;
    clear: both;
}

nav {
    padding-top: 14px;
    /* background-color: rgba(20, 19, 19, 0.267); */
    width: 1024px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}


/* p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
} */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #312323;
}

header ul li {
    float: left;
}

header ul li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    /* padding-left: 8px; */
    /* padding-right: 20px; */
    display: block;
    text-align: center;
    padding: 20px;
    padding-left: 55px;
    padding-right: 55px;
}

header ul li a:hover {
    display: block;
    background-color: #615a5a;
}

.no-padding {
    padding-bottom: 10px;
}